.playlist-card {
  display: flex;
  flex-direction: column;
}

.playlist-card:hover {
  cursor: pointer;
}

.playlist-card:not(:nth-last-child(1)) {
  margin-right: 25px;
}

.playlist-card .playlist-image {
  width: 350px;
  height: 200px;

  overflow: hidden;
  border-radius: 15px;

  opacity: 0.6;

  transition: opacity 0.15s linear;
}

.playlist-card:hover .playlist-image {
  opacity: 1;
}

.playlist-card .playlist-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 15px;

  transition: transform 0.15s linear;
}

.playlist-card:hover .playlist-image img {
  transform: scale(1.05);
}

.playlist-card .playlist-title {
  font-size: 1.25rem;
  font-weight: 700;

  color: #d1d1d3;

  margin-top: 10px;
}

.playlist-card .playlist-tracks {
  font-size: 0.8rem;
  color: #626071;

  margin-top: 5px;
}
